body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#PageHeader
{
   background-color: #212121;
   background-image: none;
   box-sizing: border-box;
}
#PageHeader
{
   -webkit-transition: all 500ms linear 0ms;
   transition: all 500ms linear 0ms;
}
#wb_CssMenu2
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 6px 4px 6px 0px;
}
#wb_CssMenu2 a
{
   display: block;
   float: left;
   color: #DCDCDC;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #F05F40;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu2 li.firstmain
{
   padding-left: 6px;
}
#wb_CssMenu2 li.lastmain
{
   padding-right: 6px;
}
#wb_CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#CssMenu2 li i
{
   font-size: 13px;
   margin-right: 3px;
   width: 15px;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #383838;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F9F9F9;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid4 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 100px 0px 100px 0px;
}
#LayoutGrid4 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid4 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 100px 0px 100px 0px;
}
#LayoutGrid4 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid4 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 100px 0px 100px 0px;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Card7
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
}
#Card7-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card7-card-item0
{
   display: inline-block;
   height: 53px;
   box-sizing: border-box;
   margin: 20px 0px 0px 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #007BFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 53px;
}
#Card7-card-item0 i
{
   text-align: center;
   vertical-align: top;
   font-size: 53px;
   width: 53px;
}
#Card7-card-item1
{
   box-sizing: border-box;
   margin: -32px 0px 0px 80px;
   padding: 0;
   color: #282828;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
}
#Card7-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #282828;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card8
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
}
#Card8-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card8-card-item0
{
   display: inline-block;
   height: 53px;
   box-sizing: border-box;
   margin: 20px 0px 0px 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #007BFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 53px;
}
#Card8-card-item0 i
{
   text-align: center;
   vertical-align: top;
   font-size: 53px;
   width: 53px;
}
#Card8-card-item1
{
   box-sizing: border-box;
   margin: -32px 0px 0px 80px;
   padding: 0;
   color: #282828;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
}
#Card8-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #282828;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card9
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
}
#Card9-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card9-card-item0
{
   display: inline-block;
   height: 53px;
   box-sizing: border-box;
   margin: 20px 0px 0px 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #007BFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 53px;
}
#Card9-card-item0 i
{
   text-align: center;
   vertical-align: top;
   font-size: 53px;
   width: 53px;
}
#Card9-card-item1
{
   box-sizing: border-box;
   margin: -32px 0px 0px 80px;
   padding: 0;
   color: #282828;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
}
#Card9-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #282828;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 41.66666667%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 0px 20px 0px;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 58.33333333%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 0px 20px 0px;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 198px;
   height: 198px;
   vertical-align: top;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0px 0px 20px 0px;
   text-align: left;
}
#Heading1
{
   color: #969696;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0px 0px 10px 0px;
   text-align: left;
}
#Heading2
{
   color: #969696;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: left;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 20px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #969696;
   font-family: 微软雅黑;
   font-weight: normal;
   font-size: 15px;
   line-height: 19px;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Shape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
